# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# builds for myPorject
build-EmbeddedSystem-Desktop_Qt_5_4_2_clang_64bit-release/
build-EmbeddedSystem-Qt_4_8_7_local-Debug/
build-EmbeddedSystem-Qt_4_8_7_local-Release/
myProject/

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
